@model RegisterProduct
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <link href="~/css/UserRegistation.css" rel="stylesheet" />
</head>
<body>
    <div class="container1">
        <h1>Products</h1>
        <form method="post" asp-action="AddNewProduct" enctype="multipart/form-data">
            <div class="form-group">
                <div class="col">
                    <label for="ProductID">Product ID:</label>
                    <input type="text" id="productID" name="ProductID" placeholder="Enter Product ID" value=@Guid.NewGuid() required>
                    <span class="error" asp-validation-for="ProductID"></span>
                </div>
                <div class="col">
                    <label for="ProductName">Product Name:</label>
                    <input type="text" id="productName" name="ProductName" placeholder="Enter Product Name" required>
                    <span class="error" asp-validation-for="ProductName"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col">
                    <label for="ProductDescription">Product Description:</label>
                    <textarea id="productDescription" name="ProductDescription" placeholder="Enter Product Description" required></textarea>
                    <span class="error" asp-validation-for="ProductDescription"></span>
                </div>
                <div class="col">
                    <label for="ProductType">Product Type:</label>
                    <input type="text" id="productType" name="ProductType" placeholder="Enter Product Type" required>
                    <span class="error" asp-validation-for="ProductType"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col">
                    <label for="ProductSize">Product Size:</label>
                    <input type="" id="productSize" name="ProductSize">
                    <span class="error" asp-validation-for="ProductSize"></span>
                </div>
                <div class="col">
                    <label for="ClientName">Client Name:</label>
                    <input type="text" id="clientName" name="ClientName" required>
                    <span class="error" asp-validation-for="ClientName"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col">
                    <label for="Price">Price:</label>
                    <input type="number" id="Price" name="Price" placeholder="Enter Price of the product" required>
                    <span class="error" asp-validation-for="Price"></span>
                </div>
                <div class="col">
                    <label for="OrderDate">OrderDate:</label>
                    <input type="date" id="orderDate" name="OrderDate" placeholder="Enter Delivery Date" required />
                </div>
            </div>
            <div class="form-group">
                <div class="col">
                    <label for="DeliveryDate">DeliveryDate:</label>
                    <input type="date" id="deliveryDate" name="DeliveryDate" placeholder="Enter Delivery Date" required>
                </div>
            </div>
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>
