@*   @model UserAttendanceDetailsModel
  <div class="mainclass">
      <div class="firstsubclass">
          <div class="pagename"><p>Attendance Page</p></div>
          <div class="maindivbutton">
              <div class="newuserbutton">
                  <a asp-controller="CreateNewUser" asp-action="Index">Create New User</a>
              </div>
              <div class="newuserbutton">
                  <a asp-controller="FetchandUpdate" asp-action="Index">Update User Deatils</a>
              </div>
          </div>
      </div>
      <div class="form-container">
          <form>
              <label for="UserName">User Name:</label>
              <input type="text" id="userName" name="UserName" placeholder="Enter user name" required>

              <label for="AttendanceDate">Date:</label>
              <input type="date" id="attendanceDate" name="AttendanceDate" required>

              <label for="Overtimehour">Over Time:</label>
              <input type="number" id="overtime" name="Overtimehour" placeholder="Enter Over Time Hours" required />

              <label for="Status">Status:</label>
              <select id="status" name="Status" required>
                  <option value="Present">Present</option>
                  <option value="Absent">Absent</option>
              </select>
            
              <button type="submit">Submit Attendance</button>
          </form>
      </div>
  </div> *@
  <h1>Feature is coming soon...</h1>
